
.additional-info {

}

.additional-info .name {
}

.additional-info .value {
    padding-left: 1em;
}

.query-result-key {
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-style: auto;
}

.query-result-value {
    word-break: break-all;
}