<%= bytesToString(value) %>
<% if(length == 8) { %>
    <div class='additional-info'>
        <div class='name'>as Long</div>
        <div class='value'><%= bytesToLong(value) %></div>
    </div>

    <div class='additional-info'>
        <div class='name'>as Double</div>
        <div class='value'><%= bytesToDouble(value) %></div>
    </div>
<% } %>
