<div class="page-header">
    <h1>Tables</h1>
</div>

<div class="list-group">
    <% tables.forEach(function(table) { %>
        <a href='#table/<%= table.name %>' class="list-group-item"><%= table.name %></a>
    <% }) %>
</div>
