<div class="page-header">
    <h1><%= name %> <small>Table</small></h1>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-table"></i> Query</h3>
  </div>
  <div class="panel-body">
    <form class="query">
        <div class="form-group">
            <label>Start</label>
            <input class="form-control query-start" placeholder="Enter start" value="\x00">
        </div>
        <div class="form-group">
            <label>End</label>
            <input class="form-control query-end" placeholder="Enter end" value="\xff">
        </div>
        <div class="form-group">
            <label>Authorizations</label>
            <input class="form-control query-authorizations" placeholder="Enter comma seperated list of authorizations" value="<%= querySetting.authorizations %>">
        </div>
        <div class="form-group">
            <label>Row Count</label>
            <input class="form-control query-rowCount" placeholder="Number of rows to return" value="<%= querySetting.rowCount %>">
        </div>
        <button type="submit" class="btn btn-default query">Query</button>
    </form>
  </div>
</div>

<div class="query-results">
</div>
